ConsoleClient/Service References/EFlatsServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmed" type="xs:boolean" />
        <xs:element minOccurs="0" name="student" type="xs:boolean" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfChildren" type="xs:int" />
        <xs:element minOccurs="0" name="pet" type="xs:boolean" />
        <xs:element minOccurs="0" name="numberOfCohabiters" type="xs:int" />
        <xs:element minOccurs="0" name="disabled" type="xs:boolean" />
        <xs:element minOccurs="0" name="dateOfCreation" type="xs:dateTime" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLandlord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmed" type="xs:boolean" />
        <xs:element minOccurs="0" name="dateOfCreation" type="xs:dateTime" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLandlordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLandlordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="landlordEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rentPrice" type="xs:double" />
        <xs:element minOccurs="0" name="deposit" type="xs:double" />
        <xs:element minOccurs="0" name="avaiable" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateFormCreation" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddApartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataResult" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element minOccurs="0" name="studentEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flatId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWishlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToWishlistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element minOccurs="0" name="FlatId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWishlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFromWishlistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProfileScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="studentEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProfileScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateProfileScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateApplicationScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element minOccurs="0" name="studentEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flatId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateApplicationScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateApplicationScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>