ConsoleClient/Service References/EFlatsServiceReference/WcfEFlatsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfEFlatsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfEFlatsService_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_AddLandlord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLandlord" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_AddLandlord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLandlordResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_AddApartment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddApartment" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_AddApartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddApartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_AddToWishlist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddToWishlist" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_AddToWishlist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddToWishlistResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_RemoveFromWishlist_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromWishlist" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_RemoveFromWishlist_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromWishlistResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_CalculateProfileScore_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateProfileScore" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_CalculateProfileScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateProfileScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_CalculateApplicationScore_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateApplicationScore" />
  </wsdl:message>
  <wsdl:message name="IWcfEFlatsService_CalculateApplicationScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateApplicationScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfEFlatsService">
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfEFlatsService/AddStudent" message="tns:IWcfEFlatsService_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfEFlatsService/AddStudentResponse" message="tns:IWcfEFlatsService_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLandlord">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfEFlatsService/AddLandlord" message="tns:IWcfEFlatsService_AddLandlord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfEFlatsService/AddLandlordResponse" message="tns:IWcfEFlatsService_AddLandlord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfEFlatsService/Login" message="tns:IWcfEFlatsService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfEFlatsService/LoginResponse" message="tns:IWcfEFlatsService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddApartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfEFlatsService/AddApartment" message="tns:IWcfEFlatsService_AddApartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfEFlatsService/AddApartmentResponse" message="tns:IWcfEFlatsService_AddApartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfEFlatsService/GetData" message="tns:IWcfEFlatsService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfEFlatsService/GetDataResponse" message="tns:IWcfEFlatsService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddToWishlist">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfEFlatsService/AddToWishlist" message="tns:IWcfEFlatsService_AddToWishlist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfEFlatsService/AddToWishlistResponse" message="tns:IWcfEFlatsService_AddToWishlist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromWishlist">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfEFlatsService/RemoveFromWishlist" message="tns:IWcfEFlatsService_RemoveFromWishlist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfEFlatsService/RemoveFromWishlistResponse" message="tns:IWcfEFlatsService_RemoveFromWishlist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateProfileScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfEFlatsService/CalculateProfileScore" message="tns:IWcfEFlatsService_CalculateProfileScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfEFlatsService/CalculateProfileScoreResponse" message="tns:IWcfEFlatsService_CalculateProfileScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateApplicationScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfEFlatsService/CalculateApplicationScore" message="tns:IWcfEFlatsService_CalculateApplicationScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfEFlatsService/CalculateApplicationScoreResponse" message="tns:IWcfEFlatsService_CalculateApplicationScore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfEFlatsService" type="tns:IWcfEFlatsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IWcfEFlatsService/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLandlord">
      <soap:operation soapAction="http://tempuri.org/IWcfEFlatsService/AddLandlord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IWcfEFlatsService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddApartment">
      <soap:operation soapAction="http://tempuri.org/IWcfEFlatsService/AddApartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IWcfEFlatsService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToWishlist">
      <soap:operation soapAction="http://tempuri.org/IWcfEFlatsService/AddToWishlist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromWishlist">
      <soap:operation soapAction="http://tempuri.org/IWcfEFlatsService/RemoveFromWishlist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateProfileScore">
      <soap:operation soapAction="http://tempuri.org/IWcfEFlatsService/CalculateProfileScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateApplicationScore">
      <soap:operation soapAction="http://tempuri.org/IWcfEFlatsService/CalculateApplicationScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfEFlatsService">
    <wsdl:port name="BasicHttpBinding_IWcfEFlatsService" binding="tns:BasicHttpBinding_IWcfEFlatsService">
      <soap:address location="http://localhost:8080/WcfEFlatsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>